.group
  display: flex
  padding-bottom: 5px
  align-items: center

.title
  font-size: 12px
  padding-right: 10px
  font-weight: 500

.label
  font-weight: 100

.image
  width: 50%
  height: 50%
.container-card
  display: flex

.block-information
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
