<mat-card class="container-pacient">
  <mat-spinner *ngIf="isLoading">
  </mat-spinner>
  <mat-card-title *ngIf="!isLoading">{{title}}</mat-card-title>
  <form [formGroup]="form" (submit) = "onSavePacient()" class="form" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput placeholder="Nombres" formControlName="firstName" autocomplete="off">
      <mat-error *ngIf="form.get('firstName').invalid">Por favor ingrese un Nombre</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Apellidos" formControlName="lastName" autocomplete="off">
        <mat-error *ngIf="form.get('lastName').invalid">Por favor ingrese Apellidos</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Estatura" formControlName="heightPacient">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Peso" formControlName="weightPacient">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sexo" formControlName="sexType">
      <mat-error>Por Favor Ingrese el Sexo</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Grupo Sanguineo" formControlName="bloodType">
    </mat-form-field>
    <mat-form-field>
     <input matInput placeholder="Cedula de Identidad" formControlName="dni">
     <mat-error>Por Favor Ingrese la cédula de indentidad</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput  formControlName="date" [matDatepicker]="picker" placeholder="Fecha de Nacimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Cargar Imagen</button>
      <input type="file" #filePicker  (change)="onImagePicked($event)">
    </div>
    <div class="image-preview"  *ngIf="imagePreview !== ''  && imagePreview">
      <img id="blah" [src]="imagePreview" alt="form.value.image.name" />
    </div>
    <button class="save" mat-stroked-button type="submit">Guardar Paciente</button>
  </form>
</mat-card>
